 <!-- Footer. -->
    <footer class="mt-5">
        <div class="footer-container p-4 pt-5">

            <div class="row mt-3 ml-3 mr-3">

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <h3 class="footer-heading">Tutors</h3>
                    <ul>
                        <li class="footer-list mt-3 mb-3">Trent Stollery</li>
                        <li class="footer-list mb-3">Gwilyn Saunders</li>
                        <li class="footer-list mb-3">Josh Campbell</li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <h3 class="footer-heading">The dev team</h3>
                    <ul>
                        <li class="footer-list mt-3 mb-3">Ana Marr</li>
                        <li class="footer-list mb-3">Andy Nguyen</li>
                        <li class="footer-list mb-3">Nathan Teakle</li>
                        <li class="footer-list mb-3">Udara Ranasinghe</li>
                        <li class="footer-list mb-3">Ben Cole</li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <h3 class="footer-heading">About the project</h3>
                    <ul>
                        <li class="footer-list mt-3 mb-3">About page</li>
                        <li class="footer-list mb-3">GitHub Readme</li>
                    </ul>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 mb-4">
                    <h3 class="footer-heading">The course</h3>
                    <ul>
                        <li class="footer-list mt-3 mb-3">Full-Stack Web development</li>
                        <li class="footer-list mb-3">University of Adelaide</li>
                    </ul>
                </div>

            </div>

        </div>
    </footer>