<!-- Hero banner. -->
<div class="hero p-4 pt-5">
    <h5 class="purple w-6">All the latest handsets</h5>
    <h6 class="purple w-50">Get the best deals and bundles from lodofones.</h6>
    <button type="button" class="btn btn-warning mt-4">Shop phones</button>
</div>