{{!-- Seperate headers to handle responsive navigation. --}}
{{> header }}

{{!-- Main product page carousel with offers & deals. --}}
{{> carousel }}

{{!-- Hero banner replaces the carousel on smaller screens --}}
{{> hero_banner }}

{{!-- Two sets of filter fields. One drop down the other collapsable for responsive performance --}}
{{> filter_fields --}}

{{!-- Product cards container and product card. --}}
<div class="container-xl">

    <div class="row p-3">
        {{#each model}}
        {{!-- there is a product associated --}}
        {{#if products}} 
        {{> product_card }}
        {{/if}}
        {{/each}}
    </div>
</div>

{{!-- Footer. --}}
{{> footer }}